/* Завдання №1. */
.task_1 h1 {
  color: green;
}

.task_1 p {
  background: red;
}

.task_1 button {
  border: 1px dotted #000;
}

/* Завдання №2. */
.task_2

/* Завдання №3. */
/* Завдання №3. */
.task_3

/* Завдання №4. */
.task_4

/* Завдання №5. */
.task_5

/* Завдання №6. */
.task_6

/* Завдання №7. */
.task_7

/* Завдання №8. */
.task_8

/* Завдання №9. */
.task_9;
